html{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
  max-width: 100%; 

}

h1{
  color: red;  
}

header {
  background-color: #292626;
  width: 100vw;
  height: 20vh;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  list-style-type: none;
  padding: 2rem;
}









/* Footer */

