html{
    margin: 0;
    box-sizing: border-box;
    
}
body {
  margin: 0;
}

.container{
  width: 100%;
}
.Zocom {
  margin-right: 1.5em;
}
h1{
  color: white;
  font-weight: 700;
  font-size: 4rem;  
}

h3{
  font-size: 1.5625rem;
}

.p-card-text{
  font-size: 0.875em;
}

main {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-family: 'Ubuntu', sans-serif;
  background-color: #292626;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}
button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  margin-top: 45px;
}

.header-navbar{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin: 2.25em 5%; 
}

ul {
  display: flex;
  flex-direction: row; 
  gap: 48px;
  color: #333333;
}

li {
  list-style-type: none;
  
}

main{
  margin: 0 13.75em;
  margin-top: 6.0625em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;
  max-width: 1000px;
}

.big-card{
  max-width: 656px;
  height: 544px;
  border-bottom: #b3b3b3 solid 1px;
  margin-bottom: 32px;
}

.small-card{
  max-width: 311px;
  height: 544px;
  border-bottom: #b3b3b3 solid 1px;
  margin-bottom: 32px;
}

.small-card-image{
  max-width: 311px;
  height: 288px;
}

.big-card-image{
  width: 100%;
  height: 288px;
  object-fit: cover; 
}
.batman {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.batman h3{
  font-weight: 400;
  font-style: italic;
}
.batman p {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 4em;
}

.batmanImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  
}

/* Footer */

footer {
  font-family: 'Ubuntu', sans-serif;;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #4F4F4F;
  color: #eeeeee;
  padding-top: 80px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul > h2 {
  font-weight: 800;
}

.about {
  display: flex;
  max-width: 230px;
  flex-direction: column;
}

.about > p {
font-size: 13px;
line-height: 0.7cm;
}

.footer-ul{
  display: flex;
  flex-direction: column;
  color: #eeeeee;
}

.fa-youtube {
  font-size: 35px;
}


.social-media {
  display: flex;
  justify-content: space-evenly;
}


/* Media query */


@media screen and (min-width: 600px) {

  .menu {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .nav-footer {
    display: none;
  }

  .social-media {
   margin-bottom: 50px;
  }


  ul {
    display: none;
  }
}

